* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
:root {
  --main-color: #c75b7a;
  --text-color: #921a40;
  --bg-color: #fff;
  --shadow-color: rgba(0, 0, 0, 0.1);
}
  body {
    font-family: "Poppins" sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    background-color: var(--bg-color);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
  }
  
  header h1 {
    font-size: 2em;
    color:var(--text-color);
    text-align: center;
  }
  
  header p {
    text-align: center;
    color: gray;
    font-size: 1.1em;
  }  
  .back-btn {
    width: 100%;
    padding: 12px;
    background-color: var(--text-color);
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    font-weight: 500;
  }
  
  .back-btn:hover {
    background-color: var(--main-color);
  }
  @media screen and (max-width: 758px) {
    html {
      font-size: 75%;
      margin: 30px;
    }
  }